# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtual environments
venv/
env/
ENV/
.venv/
pip-wheel-metadata/
*.sqlite3

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
